/* src/BannerLayout.css */

.banner-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.main-banner {
    width: calc(100% - 120px);
    position: relative;
    overflow: hidden; 
}

.main-banner img {
    width: 100%;
    border-radius: 10px;
    height: auto;
    transition: transform 0.3s ease-in-out; 
}

.main-banner img:hover {
    transform: scale(1.1); /* Zoom in effect */
}

.main-banner-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.153); /* Increased opacity for better text visibility */
    padding: 10px;
}

.side-banner {
    width: 180px;
    background-color: #f0f8ff;
    padding: 10px;
    border-radius: 10px;
}

.side-banner-slide {
    text-align: center;
}

.side-banner-slide img {
    width: 100%;
    height: 300px;
   
}

.side-banner-slide h3, .side-banner-slide p {
    margin: 2px 0;
}

.header {
    width: 10px;
    color: black;
}
