.image-gallery-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .image-gallery {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
  }
  
  .image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-container img {
    width: 150px; /* Image size */
    height: 170px; /* Image size */
    border-radius: 5px;
  }
  
  .likes-dislikes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
  }
  
  .likes-dislikes button {
    background-color: #00bbff;
    color: white;
    border: none;
   
    cursor: pointer;
    border-radius: 3px;
  }
  
  .likes-dislikes button:hover {
    background-color: #007bb5;
  }
  
  .comments-section {
    width: 100%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  
  .comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .comment p {
    margin: 0;
  }
  
  .comment button {
    margin-left: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .comment-form {
    display: flex;
    margin-top: 10px;
    width: 100%;
  }
  
  .comment-form input {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
  }
  
  .comment-form button {
    padding: 5px 10px;
  }
  
  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .scroll-button.left {
    left: 10px;
  }
  
  .scroll-button.right {
    right: 10px;
  }
  