.onas {
    display: flex;
  
    .footer1 {
      display: flex;
      flex-direction: column;
      left: 0;
      width: 100%;
      padding: 40px;
      background-color: #f7f9fa;
      color: rgb(63, 63, 63);
      font-family: "Montserrat", sans-serif;
      font-size: small;
  
      .foot {
        color: rgb(55, 54, 54);
        font-weight: 600;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
      }
    }
    .footer2 {
      display: flex;
      flex-direction: column;
      left: 0;
      width: 100%;
      padding: 40px;
      background-color: #f7f9fa;
      color: rgb(63, 63, 63);
      font-family: "Montserrat", sans-serif;
      font-size: smaller;
    }
  }