.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: nowrap;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}

.customer-service {
  max-width: 10%;
}

.phone-number {
  font-size: 11px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

.contact-button,
.email-request-button {
  display: block;
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-links ul {
  padding-left: 0;
}

.footer-links li {
  margin-bottom: 10px;
  cursor: pointer;
}

.company-info {
  max-width: 30%;
}

.certifications img {
  margin-right: 10px;
}

.company-info p {
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .footer {
    flex-direction: row;
    align-items: center;
  }

  .customer-service,
  .footer-links,
  .company-info {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .footer-links {
    flex-direction: row;
    align-items: center;
  }

  .footer-links ul {
    margin-bottom: 20px;
  }
}
