.room-switcher {
    position: relative;
    padding: 20px 0;
  }
  .room-switcher-catalog {
    display: flex;
    justify-content: center;
    button {
      margin: 10px;
      background-color: #30c8ff;
      border-radius: 7px;
      color: white;
      font-weight: 700;
      padding: 5px 10px;
      border: none;
      font-family: "Montserrat", sans-serif;
    }
    button:focus {
      background-color: blue;
    }
  }
  .room-switcher-wrapper {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    gap: 1rem;
  }
  .room-switcher-wrapper::-webkit-scrollbar {
    display: none;
  }
  .room-switcher-card {
    min-width: 14rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .room-switcher-card img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }
  .room-switcher-card-info {
    width: 100%;
    flex-grow: 1;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .room-switcher-card-info p {
    margin: 0;
  }
  .button-left {
    position: absolute;
    left: 0;
    top: 45%;
    margin: 10px;
    background-color: #30c8ff;
    border-radius: 7px;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    border: none;
  }
  .button-right {
    position: absolute;
    right: 0;
    top: 45%;
    margin: 10px;
    background-color: #30c8ff;
    border-radius: 7px;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    border: none;
  }

  .room-switcher {
    position: relative;
    padding: 20px 0;
  }
  .room-switcher-catalog {
    display: flex;
    justify-content: center;
    button {
      margin: 10px;
      background-color: #30c8ff;
      border-radius: 7px;
      color: white;
      font-weight: 700;
      padding: 5px 10px;
      border: none;
      font-family: "Montserrat", sans-serif;
    }
    button:focus {
      background-color: blue;
    }
  }
  .room-switcher-wrapper {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    gap: 1rem;
  }
  .room-switcher-wrapper::-webkit-scrollbar {
    display: none;
  }
  .room-switcher-card {
    min-width: 14rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .room-switcher-card img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }
  .room-switcher-card-info {
    width: 100%;
    flex-grow: 1;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .room-switcher-card-info p {
    margin: 0;
  }
  .button-left {
    position: absolute;
    left: 0;
    top: 45%;
    margin: 10px;
    background-color: #30c8ff;
    border-radius: 7px;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    border: none;
  }
  .button-right {
    position: absolute;
    right: 0;
    top: 45%;
    margin: 10px;
    background-color: #30c8ff;
    border-radius: 7px;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    border: none;
  }
