nav{
  background-color: #fff;
  display: flex;
  justify-content:flex-start;
  padding: 5px;
 flex-wrap: wrap; 
 background-color: #ffffff;
  
}

.head,.bestSellers{
  padding: 10px 20px;
  text-decoration: none;
text-transform: uppercase;
  font-size: 14px;
font-family: 'Montserrat', sans-serif;
  color: #505050;
  font-weight: 600;
}

.home-head{
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: #1d1d1d;
  font-weight: 700;
}
.head:hover {
  color:  #32bbe4;
}
.home-head:hover{
  color: #3e3e3e;
}
.bestSellers:hover {
  color: #32bbe4;
}
.head-btn {
  padding: 7px;
  background-color:  #32bbe4;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 550;
}
.head-btn:hover {
  color: #ffffff;
}

.products {

  display: flex;

  flex-wrap: wrap;

}

.product-card {

  padding: 2%;

  flex-grow: 1;

  flex-basis: 16%;

}

body {

  background-color: #fff;

}



.cont {

  display: flex;

  justify-content: center;

}


.change {

  background-color:  #32bbe4;

  color: white;
  font-weight: 200;

  padding: 10px;

  border: none;

  font-family: 'Montserrat', sans-serif;

}

p {

  font-family:'Montserrat', sans-serif;

}

button {

  margin: 10px;

}



/*поиск*/
.search input {
  padding: 2px 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
 
}
.search {
display: flex;
font-size: 10px;
}
.user-actions a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
}