.ig-image-gallery-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px;
}

.ig-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.ig-description {
  margin-bottom: 20px;
}

.ig-image-gallery {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.ig-image-container {
  min-width: 200px; /* Adjusted size for spacing */
  margin-right: 5px; /* Space between images */
  flex: 0 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ig-image-container img {
  width: 200px; /* Image size */
  height: 200px; /* Image size */
  border-radius: 5px;
}

.ig-image-caption {
  width: 100%;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ig-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ig-comment p {
  margin: 0;
}

.ig-comment button {
  margin-left: 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.ig-comment-form {
  display: flex;
  margin-top: 10px;
  width: 100%;
}

.ig-comment-form input {
  flex: 1;
  padding: 5px;
  margin-right: 5px;
}

.ig-comment-form button {
  padding: 5px 10px;
}

.ig-scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
}

.ig-scroll-button.left {
  left: 10px;
}

.ig-scroll-button.right {
  right: 10px;
}
