.image-gallery-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.image-gallery {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}

.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container img {
  width: 150px;
  height: 170px;
  border-radius: 5px;
}

.likes-dislikes {
  display: flex;
  justify-content: center;

  margin-top: 5px;
}

.likes-dislikes button {
  color: #8ea370;
  border: none;
  padding: 3px 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
}

.likes-dislikes button:hover {
  background-color: #007bb5;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}
