.ig-image-gallery-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  
}

.ig-title {
  text-align: center;
  margin-bottom: 10px;
}

.ig-description {
  text-align: center;
  margin-bottom: 20px;
}

.ig-scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #FFF;
  color: #9CAD84;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.ig-scroll-button.left {
  left: 0;
}

.ig-scroll-button.right {
  right: 0;
}

.ig-image-gallery {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none; 
}

.ig-image-gallery::-webkit-scrollbar {
  display: none; 

}

.ig-image-container {
  flex: 0 0 auto;
  margin: 5px; 
  position: relative;
  width: auto;
    margin: 10px;
}

.ig-image {
  height: 250px;
  width: auto;
  display: block;
}

.ig-image-caption {
  padding: 10px;
}

.ig-comment-section {
  max-height: 50px; 
  overflow-y: auto;
}

.ig-comment {
  background: #fd6d6d;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
}

.ig-comment-form {
  display: flex;
  gap: 5px;
}

.ig-comment-form input {
  flex: 1;
  padding: 1px;
  border: 1px solid #9CAD84  ;
  border-radius: 3px;
}


.ig-comment-form button {
  padding: 5px 10px;
  border: none;
  background-color: #9CAD84;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
.submit{
  background-color: #fff;
  color: #9CAD84  ;
  border-color: #f0f0f0;
  border-radius: 5px;
}