.log-container {
    .logo {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      text-decoration: none;
      color: #272727;
    }
  
    .big-container {
      display: flex;
      justify-content: center;
      color: rgb(195, 195, 195);
      flex-direction: column;
    }
  
    .join {
      display: flex;
      justify-content: center;
      color: #757575;
      font-size: 12px;
    }
  
    .gmail,
    .whatsap {
      margin-right: 30px;
    }
  
    .enter {
      padding: 14px;
    }
  
    .line {
      display: flex;
      justify-content: center;
      color: #c2c8cc;
    }
  
    #socialLogin {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 60%;
      color: #c2c8cc;
      font-size: 18px;
      align-self: center;
    }
  
    .whats {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
  
    .mistake {
      display: flex;
      justify-content: center;
      flex-direction: row;
      color: #c2c8cc;
      font-size: 14px;
      text-decoration: none;
    }
  
    .rights {
      display: flex;
      justify-content: center;
      flex-direction: row;
      color: #757575;
      font-size: 10px;
    }
  
    .log-content form {
      display: flex;
      flex-direction: column;
    
    }
  
    .login {
     
      background-color: #35c5f0;
      font-size: 20px;
      border-color: #35c5f0;
      border-radius: 3px;
 
      padding-left: 50px;
      padding-right: 101px;
      color: #fff;
      padding-top: 15px;
  
  
    }
    .spaced-lines {
      white-space: pre-line;
    }
    .enterText{
      display: flex;
      justify-content: center;
    }
    .log-content label {
      margin-bottom: 8px;
    }
  
    .log-content button {
      padding: 10px;
      background-color: #35c5f0;
      color: #fff;
      border: none;
      cursor: pointer;
      margin-bottom: 8px;
    }
  
    .log-content button:hover {
      background-color: #35c5f0;
    }
  
    #socialLogin {
      margin-top: 20px;
    }
  
    .combine {
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }
  
    .changepassword {
      display: flex;
      flex-direction: row;
      margin-right: 30px;
      text-decoration: none;
    }
    .liner {
      text-decoration: none;
      color: #424242;
      font-size: 15px;
    }
    #profile {
      display: none;
      margin-top: 20px;
    }
  
    .hidden {
      display: none;
    }
  }
  