/* src/Navbar.css */

nav {
    position: fixed; /* Add this to fix the nav bar */
    top: 0; /* Position it at the top */
    width: 100%; /* Make it span the full width of the viewport */
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    border-bottom: 1px solid #e0e0e0;
    z-index: 800; /* Ensure it stays on top of other elements */
}


.navbar-left {
    display: flex;
    align-items: center;
}

.home-head {
    font-size: 25px;
    margin-right: 20px;
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 700;
}

.head {
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #505050;
    font-weight: 600;
}

.head:hover {
    color: #32bbe4;
}

.head-btn {
    padding: 7px;
    background-color: #32bbe4;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
}



.search-container {
    position: relative;
    margin-left: 8px;
}

.search-input {
   
    
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
    width: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
}

.search-input.expanded {
    width: 150px; 
    opacity: 1;
}
.icon {
    margin-left: 10px;
    cursor: pointer;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 47%;
    transform: translateY(200%);
    transform: translateX(70%);
    cursor: pointer;
}

#cart{
    width: 170px;
}
/* Media query to hide the search input when the screen width is 768px or less */
@media (max-width: 850px) {
    .search-input {
        display: none;
    }
}
